body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#map-ui {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

#map-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#map-ui a {
    font-size: 13px;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui a:hover {
    background: #ECF5FA;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #3887BE;
    border-color: #3887BE;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui li:first-child a.active {
    border-top-color: #3887BE;
}

#map .map-fullscreen {
    background-color: #28353D;
}

.margin20 { margin-top:30px !important; }


.wax-legends { margin-top:20px; position:bottom; } 
.wax-legend .legend-title {
	text-align: left;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 90%;

}

.wax-legend .legend-scale ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

.wax-legend .legend-scale ul li {
	display: block;
	float: left;
	width: 50px;
	margin-bottom: 6px;
	text-align: center;
	font-size: 60%;
	list-style: none;
}

.wax-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 15px;
	width: 50px;
}

.wax-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}

.wax-legend a {
	color: #777;
}
